extends ../layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href=backUrl) Назад
            time.post__date(datetime='2019-03-21T20:33')
              +date(article.publishedAt)
            h2.post__title.title.title--main #{article.title}
            if isAuthor
              a.preview__name-link(href=`/articles/edit/${article.id}`) Редактировать
            ul.post__themes.themes
              each category in article.Categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}
                    sup #{category.count}
          .post__picture
            if article.picture.includes(".")
              img.preview__background-image(src=`/img/${article.picture}` width='460' height='240' alt=article.title)
            else
              img.preview__background-image(src=`/img/${article.picture}@1x.jpg` width='460' height='240' srcset=`/img/${article.picture}@1x.jpg 1x, /img/${article.picture}@2x.jpg 2x` alt=article.title)
          .post__text
            p #{article.announce}
            p #{article.fullText}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if !article.Comments.length
            h2.comments__title.title.title--middle Комментарии отсутствуют
          else
            h2.comments__title.title.title--middle Комментарии
            ul.comments__list
              each comment in article.Comments
                li.comments__comment
                  .comments__avatar.avatar
                    img(src=`/img/${comment.Users.avatar}`, alt=`аватар пользователя`)
                  .comments__text
                    .comments__head
                      p #{comment.Users.name} •
                      time.comments__date(datetime=comment.createdAt)
                        +date(comment.createdAt)
                    p.comments__message #{comment.text}

          if user
            .comments__footer.comments__footer--user
              form(action=`/articles/${article.id}`, method=`POST`)
                .comments__avatar.avatar
                  img(src=`/img/${user.avatar}`, alt=`аватар пользователя`)
                label
                  textarea(name=`comment`, rows=`1`, placeholder=`Присоединиться к обсуждению`)
                input(name=`_csrf`, type=`hidden`, value=csrfToken)
                button.comments__button.button.button--colored(type=`submit`) Опубликовать
              if (!!validationMessages.length)
                p.comments__error #{validationMessages[0]}
          else
            .comments__footer.comments__footer--visitor
              a.comments__button.button.button--colored(href=`/login`) Войти
              .comments__registration
                p.text.text--signature
                  a.title.title--small(href=`/register`) Регистрация
                  | Чтобы присоединиться к переписке нужно зарегистрироваться
